.btn {
    margin-top:30px;
    margin-bottom:30px;
    height:50px;
    font-size:20px;
    font-weight:bolder;
    
    &.reset{
        margin-top:0px;
        margin-bottom:0px;
    }
    &.small{
        height:25px;
        font-size:14px;
    }
    &.btn-radius{
        border-radius:30px;
    }
    /*&.btn-danger:hover{
        background-color: darken(#d9534f, 20%);  
    }*/
    
}
.left{
    float:left;
}
.right{
    float:right;
}