.form-control{
    margin-top:15px;
    margin-bottom:15px;
}
.btn {
    margin-top:30px;
    margin-bottom:30px;
    height:50px;
    border-radius:30px;
    font-size:20px;
    font-weight:bolder;
}
.btn-danger:hover{
    background-color: $white;
    border: #c9302c 1px solid;
    color: #c9302c;
}
.btn-primary:hover{
    background-color: $white;
    border: #286090 1px solid;
    color: #286090;
}
.left{
    float:left;
}
.right{
    float:right;
}